body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
  height: 30px;
}

/* Headings */
.big-heading {
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}

.section-title {
  font-size: 2rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Colours */
.coloured-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  font-size: 1.2rem;
  font-weight: lighter;
  margin-right: 0;
}

/* Top Section */
.btn {
  margin: 0.8rem;
  margin-top: 1rem;
}

#iphone {
  transform: rotate(20deg);
  position: absolute;
  padding-top: 3rem;
  padding-left: 6rem;
  width: 20rem;
}

/* Feauture Section */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  line-height: 1.5;
}

.feature-icon {
  color: #ef8172;
  padding-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 2rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */
#press {
  background-color: #ef8172;
}

.press-logo {
  width: 15%;
  margin: 0 40px;
  margin-bottom: 40px;
}

/* Pricing Section */
.price-text {
  font-size: 2rem;
  line-height: 1.5;
}

.pricing-col {
  padding: 3% 2%
}

@media (max-width:1080px) {
  #iphone {
    position: static;
    transform: rotate(0deg);
    width: : 100%;
    padding: 0;
    margin: 0;
  }

  #title {
    text-align: center;
  }
